<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Sistemi Biometrici</title>
</head>
<body>

    <h1>Domanda:</h1>
    <p>{{ testo }}</p>

    <h2>Risposte:</h2>
    <form action="/submit" method="post">
    <input type="hidden" name="domanda" value="{{domanda}}">
        {% for risposta in risposte %}
            <label>
                <input type="radio" name="risposta" value="{{ risposta }}">
                {{ risposta }}
            </label><br>
        {% endfor %}
        <br><button type="submit">Invia</button>
    </form>

</body>
</html>
